.gradle/
build/
*/build/
app/build/
*.apk
*.aab
local.properties
.idea/
*.iml
.externalNativeBuild/
.cxx/

# Backups locales
*.before_*
backups/

# Backups locales
backup_v*/
backups/

# Signaling server
signaling-server/node_modules/
signaling-server/*.log
